dist: focal
language: c++
os: linux

cache: ccache

addons:
  apt:
    sources:
      - sourceline: ppa:ubuntu-toolchain-r/test
      - sourceline: 'deb http://apt.llvm.org/focal/ llvm-toolchain-focal-11 main'
        key_url: https://apt.llvm.org/llvm-snapshot.gpg.key
    packages:
      - clang-11
      - libc6=2.31-0ubuntu9.2
      - libc6-dev=2.31-0ubuntu9.2
      - llvm-11-dev
      - lld-11

script:
  - ./build.sh

before_deploy:
  - ./before-deploy.sh

deploy:
  provider: releases
  api_key:
    secure: LGEdJvjus65RepoNuCEq5XPNaxBAFDfIXmTnuUsH3uMzi0/VTYoz1j04/xJb9uYTnLiZmSSJZVZCR7DwN0EySGaMP8Qhbs73wN5Igjs5rmNi5/ttsJDPhZNbku5cK9IL8aS15xVRBLDqsmj7eypSw+dUJCQhlxNb2//lqm1hk1Nrgnek4f1ojQL5GqPVtwBtWMFPOO+/OAV3qh/LpGRBWqQZo6K4Dhgf3rKrLA9hw8RKctgSRfeWJvTjULWBQM5XGCr2ios9KL0ngcusC9QchTsETHPjT4l10jvVuMhthQiPcFgOtokqLd0v6PXbGehumzRkjtHWqAQwGMkDWJR8gmO95HPG3wJ+2/qp9du1z1WD+KTUwW26QiuQ1jwrD1FIo4D2xokFsSW1B0GW8sSwaHwbpkMZRlAy5zAS9Fx9TiXITZtCWDdhtfFEWssHt/ZwzscdXsakxFs82P8rpom9c/dT1u3wAkj+7HBr5YKtm57IfZ6iS/bwARd6BHjXYF/4FX8gilQ7D53V5V7mUptnNVvZ+dSZxNLhu19gBDW7RiH6QFwD+OPO+vhdIx4o9mvKqTc4zXtykHr0g2u2ZY+VL+8wzBVL5Ixd1yJj49WklZs4BCQmPxEKTeqJzYkpVozMlpFYRjZYecdVfXID9HOdOVsxS8GieV1hDHnwJGsQaHk=
  file: clang-tidy-plugin-support-$TRAVIS_TAG.tar.xz
  skip_cleanup: true
  on:
    tags: true
    repo: jbytheway/clang-tidy-plugin-support
